{
	"parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
		"prettier/prettier": ["error"],
		"import/no-extraneous-dependencies": "off",
		"no-restricted-syntax": "off"
  }
}